<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/public/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <title>Members Only</title>
  </head>
  <body>
    <nav class="navBar">
      <div class="loggedInWrapper">
        <div>
          <button type="button" class="submitLogIn" id="home-button">
            <a href="/">Home</a>
          </button>
          
        </div>
        <div class="loggedInUserName">
          <% if (user) { %>
          Welcome back, <%= user.username %>
          <% } %>
        </div>
          <% if (user && user.isMember !== true) {%>
              <a href="/secret" class="secret-link">
            <img src="/public/images/question-mark.png" alt="question mark" class="secret-button"></img>
            </a>
            <%}%>
          <button type="button" class="submitLogIn" id="log-out-button">
            <a href="/log-out">Log Out</a>
          </button>
      </div>
    </nav>
    <div class="wrapper create-post-wrapper">
      <div class="message-container create-post-container">
        <form action="" method="POST">
          <div class="message-title create-message-title">
            <label for="postTitle" class="create-post-title">Title</label>
            <input type="text" name="postTitle" class="createPostInput" placeholder="So this one time..." required />
          </div>
          <div class="message-body create-message-body">
            <label for="postBody" class="create-post-body">Body</label>
            <textarea name="postBody" class="createPostInput" placeholder="Write a story!" required></textarea>
          </div>
          <div class="meta">
            <div class="message-author">
              - <%= user.username %>
            </div>
          </div>
          <button class="submitButton">Submit</button>
        </form>
      </div>
    <div class="overlay"></div>
    <div class="backgroundHeroCreatePost"></div>
    <script src="/helperFunc/createPostOnclicks.js"></script>
  </body>
</html>
