<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://kit.fontawesome.com/5deca06548.js"
      crossorigin="anonymous"
    ></script>
    <title>Members Only</title>
  </head>
<nav class="navBar">
      <% if (user) {%>
      <div><%= user.username %></div>
      <a href="/log-out">LOG OUT</a>
      <% } else { %>
      <form action="/log-in" method="POST">
        <div class="navItem">
          <label for="username" class="label">Username</label>
          <input
            name="username"
            placeholder="Username"
            type="text"
            class="usernameInput"
          />
        </div>
        <div class="navItem">
          <label for="password" class="label">Password</label>
          <input
            name="password"
            type="password"
            class="passwordInput"
            placeholder="Password"
          />
          <button class="submitLogIn">Log In</button>
        </div>
          
        <!-- logged in AND not a member? -->
        <div class="navItem">
          <button class="submitLogIn">Sign Up</button>
          <button class="secret-button">
            <img src="/public/images/question-mark.png" alt="question mark"></img>
          </button>
        </div>
      </form>
      <%}%>
    </nav>
