<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://kit.fontawesome.com/5deca06548.js"
      crossorigin="anonymous"
    ></script>
    <title>Members Only</title>
  </head>
  <body>
    <div class="signUpWrapper">
      <div class="signUpInner">
        <form action="" method="POST">
          <h1 class="signUpItem">Sign Up for Members Only</h1>
          <label for="username" class="label">Username</label>

          <input name="username" placeholder="Username" type="text" class="usernameInput signUpItem"/>

          <label for="password" class="label" class="signUpItem">Password</label>

          <input name="password" type="password" class="passwordInput signUpItem" placeholder="Password"/>
          <div class="isAdmin">
            Are you an admin?
            <input type="checkbox" name="isAdmin" id="isAdmin" value="true">
          </div>
          <button class="submitLogIn signUpItem">Sign Up</button>
          <div class="legal">If this were a website with intent for monetary gain and intent to be used by the public this would be the spot with a link for the <a href="#">Terms of Service</a>, the <a href="#">Privacy Policy</a>, and the <a href="#">Cookie Usage</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  </body>
</html>
