html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}
.navBar form {
  max-height: 50px;
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.815);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.backgroundHero {
  z-index: -2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/public/images/newWP.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navItem {
  align-items: center;
  display: flex;
  max-height: 50px;
  min-height: 50px;
  z-index: 99999;
}

.label {
  color: rgb(211, 211, 211);
  margin-right: 10px;
}
.wrapper {
  display: column;
  columns: 4;
  margin: 0 12px 0 12px;
}
/* mediaQuery for wrapper layout */
@media screen and (max-width: 1580px) {
  .wrapper {
    columns: 3;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    columns: 2;
  }
  .message-title,
  .message-body,
  .message-timestamp,
  .message-data {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    overflow-wrap: break-word;
  }
}
@media screen and (max-width: 808px) {
  .wrapper {
    columns: 1;
  }
}
@media screen and (max-width: 700px) {
  .usernameInput,
  .passwordInput {
    max-width: 8rem;
  }
}
@media screen and (max-width: 600px) {
  .usernameInput,
  .passwordInput {
    max-width: 4rem;
  }
}
.topper {
  margin-bottom: 60px;
}
.wrapper > * {
  break-inside: avoid;
}
.overlay {
  z-index: -1;
  background-color: rgba(22, 22, 22, 0.4);
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.loggedInWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(22, 22, 22, 0.815);
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  color: rgb(255, 255, 255);
}
.loggedInUserName,
.makePost,
.logOutButton,
.submitLogIn,
.navBar a {
  font-weight: 700;
}

.postButton {
  background: none;
  border-radius: 4px;
  color: rgba(255, 40, 72, 0.911);
  border: none;
  padding: 6px;
}
.navBar a {
  text-decoration: none;
}
.usernameInput,
.passwordInput,
.submitLogIn,
.makePost,
.logOutButton {
  background-color: rgba(36, 33, 33, 0.767);
  border-radius: 15px;
  border: solid rgba(255, 40, 72, 0.911) 1px;
  padding: 6px;
  color: white;
}
.submitLogIn,
.logOutButton,
.makePost {
  background-color: rgba(255, 40, 72, 0.911);
  border: solid rgba(36, 33, 33, 0.767) 1px;
  margin-left: 10px;
  color: black;
}

button a,
button a:visited {
  text-decoration: none;
  color: black;
}
.secret-button {
  background: none;
  border: solid rgba(36, 33, 33, 0.767) 1px;
  border-radius: 50%;
  width: 26px;
  margin-bottom: 10px;
}
.secret-link {
  display: flex;
}
.message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 9997;
  border-radius: 12px;
  border: solid rgba(36, 33, 33, 0.767) 2px;
  max-width: 344px;
  margin: 0px auto 20px auto;
  padding: 20px;
  min-height: max-content;
  min-width: 344px;
  max-height: max-content;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.9);
}
.deleteMessage {
  display: flex;
  justify-content: flex-end;
  background-color: red;
  color: white;
  border-radius: 12px;
  border: none;
  max-width: fit-content;
  align-self: flex-end;
}
.message-title,
.message-body,
.message-timestamp,
.message-data {
  font-size: 1.2rem;
  max-width: 30vw;
  word-break: break-word;
  color: rgb(255, 255, 255);
  z-index: 9998;
}
.message-timestamp {
  color: grey;
}
.message-title,
.message-data {
  color: rgba(255, 40, 72, 1);
}

/* Sign Up Page Styles */
.signUpWrapper {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/public/images/signUpHero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.signUpInner {
  background-color: rgba(22, 22, 22, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.signUpWrapper form,
.signUpWrapper h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
}
.signUpInner form {
  background-color: rgba(0, 0, 0, 0.8);
  width: 50vw;
  margin: 140px auto;
  border-radius: 12px;
}
.signUpItem {
  color: rgb(211, 211, 211);
  margin-bottom: 40px;
}
.isAdmin {
  color: white;
  margin-bottom: 10px;
}
.legal {
  color: rgb(211, 211, 211);
  text-align: center;
  max-width: 20em;
  margin-bottom: 20px;
}
.legal a {
  color: cyan;
}
/* Create Post Styles */
.create-post-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-post-container {
  position: absolute;
  top: calc(50vh / 2);
  display: flex;
  width: 60vw;
  min-width: 60vw;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
}

.create-message-title {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  align-content: center;
  justify-self: center;
  align-items: center;
  justify-content: space-evenly;
}
.createPostInput {
  background-color: rgba(36, 33, 33, 0.767);
  border: none;
  border-radius: 6px;
  color: white;
  width: 40vw;
  min-width: 336px;
  max-width: 600px;
}
.create-post-title,
.message-author,
.create-post-body {
  font-weight: 700;
  font-size: 1.2rem;
}
.createPostInput::placeholder,
#secretInput::placeholder {
  padding: 8px;
  color: white;
  font-size: 0.8rem;
}
.create-message-title input {
  height: 1.1rem;
}
.create-post-title {
  color: white;
}
.message-author {
  color: rgba(255, 40, 72, 1);
}
.create-message-body {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0px auto;
  align-content: center;
  justify-self: center;
  align-items: center;
  justify-content: space-evenly;
}
.create-message-body textarea {
  height: 150px;
  max-height: 150px;
  min-height: 150px;
}
.meta {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  justify-content: center;
  align-items: center;
}
.submitButton {
  display: flex;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  background: none;
  border: solid white 1px;
  padding: 4px;
  border-radius: 4px;
  color: white;
}
.backgroundHeroCreatePost {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/public/images/createPostHero.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.backgroundHeroEnterSecret {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(/public/images/secretHero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Secret Page Styles */
.secret-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 60vw;
  min-width: 60vw;
}
.secret-form-container {
  width: 100%;
  z-index: 9997;
  border-radius: 12px;
  border: solid rgba(36, 33, 33, 0.767) 2px;
  margin: 10px auto 20px auto;
  padding: 20px;
  min-height: max-content;
  max-height: max-content;
  height: max-content;
  background-color: rgba(0, 0, 0, 0.9);
  width: 40vw;
  min-width: 336px;
  max-width: 600px;
}
#secretInput {
  background-color: rgba(36, 33, 33, 0.767);
  border: none;
  border-radius: 6px;
  color: white;
  width: 30vw;
  min-width: 336px;
  max-width: 600px;
}
#secret-link-button {
  background: none;
  border: none;

  justify-content: center;
}
@media screen and (max-width: 969px) {
  #secretInput {
    width: 20vw;
    min-width: 300px;
    max-width: 600px;
  }
}
.secret-box {
  color: red;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 250px;
  justify-content: space-evenly;
}
.secret-box input {
  padding: 10px;
}
.secret-title {
  text-align: center;
}
.show {
  display: flex;
  z-index: 9999;
  color: white;
}
.help-modal {
  display: none;
}
